* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, black, red);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #333;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #ccc;
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    color: #ccc;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: white;
}

input::placeholder {
    color: #bbb;
}

button {
    width: 100%;
    padding: 10px;
    background-color: darkgray;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: red;
}
